@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Aleo", serif;
	font-size: 10px;
  color: black;
}

body {
  background-color: #fff;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
	flex-direction: column;
}

.wrapper {
  width: 100%;
	margin: 2rem;
	grid-template-rows: 5.5rem 1fr 10rem;
}

.hero {
	grid-template-rows: 1.7fr 0.5fr;
}

.hero img {
	width: 100%;
}

.hero-text {
	background-color: #ef901b;
	padding: 1.5em;
}

.hero-text h2 {
	font-size: 3.5rem;
	line-height: 1.3em;
}

.hero-text p {
	font-size: 2rem;
	font-weight: 800;
}

.hero-text span {
	color: #fff;
	font-size: 2rem;
	font-weight: 600;
}

.how-it-works {
	grid-template-rows: 11em 1fr 1fr 1fr;
}

.how-it-works h2 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}

.card {
	flex-direction: column;
	align-items: center;
	padding: 3rem 0;
	border-top: 1px solid #f0f0f0; 
}

.card-img {
	display: inline;
	width: 50%;
}

.card-img img {
    width: 100%;
}

.card h3 {
	font-size: 2rem;
	margin: 1rem 0;
}

.card p {
	font-size: 1.8rem;
	text-align: center;
	font-weight: 600;
}

.find-us {
	justify-content: space-around;
}

.copyright-info {
	justify-content: space-around;
}